@media (min-width: 1200px) {
    .container{ 
    min-width: 1140px;
    margin: 0 auto;}
}
@media (max-width: 1199px){
.container {
    max-width: 945px;
    margin: 0 auto;
}}
@media (max-width: 991px){
.container {
    max-width: 720px;
    margin: 0 auto;
}}
@media (max-width: 767px){
.container {
    max-width: 530px;
    margin: 0 auto;
}}
@media (max-width: 576px){
.container {
    max-width: 370px;
    margin: 0 auto;
}}
@media (max-width: 420px){
    .container {
        max-width: 273px;
        margin: 0 auto;
    }}